export(annotateFeatures)
export(annotateGeneModel)
export(annotateSimple)
export(getUCSCTable)
export(reportFeatures)
export(reportGeneModel)
export(makeGRanges)
import(Biostrings)
import(GenomicRanges)
import(R.utils)
import(httr)
import(stringr)
import(data.table)
